input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.formBody {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: darkgray;
  align-items: center;
}

.formBody label,
.formBody input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.formBody button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
